// 登录弹框相关
.notice-login-dialog{
	height: 372upx;
	width: 480upx;
	background: #fff;
	border-radius: 8upx;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	.notice-title{
		font-size: 30upx;
		line-height: 140upx;
		color: #4b4b4b;
		font-weight: 600;
	}
	.notice-btn{
		margin-bottom: 54upx;
		height: 60upx;
		width: 368upx;
		border-radius: 8upx;
		text-align: center;
		font-size: 24upx;
		line-height: 60upx;
		text-indent: 40upx;
		&:after{
			border: none;
		}
	}
	.notice-wechat{
		background: url(../../../static/img/wechat-btn.png) no-repeat;
		background-size: 100% 100%;
		color: #fff;
	}
	.notice-mobile{
		background: url(../../../static/img/mobile-btn.png) no-repeat;
		background-size: 100% 100%;
		color: #4c4c4c;
	}
}